body{
  font-family: $raleway;
  text-align: center;
}

h1{
  font-size: $xx-large;
  font-weight: $extra-light;
}

h2{
  font-size: $x-large;
  font-weight: $bold;
}

h3{
  font-size: $large;
  font-weight: $bold;
}

h4{
  font-size: $medium;
  font-weight: $bold;
}

p{
  font-weight: $regular;
}
